# You can assign anything to variables (Literally anything !!)

In [1]:
print("Hola")

Hola

In [2]:
show = print

In [3]:
show("I reborn as new boss")

I reborn as new boss

# Functions ittt

In [4]:
def greetings(name):
    print(f"Idhi emaina voter list ah! nee peru ichav \nsarle chusko ne peru : {name}")

greetings("Aditya")

Idhi emaina voter list ah! nee peru ichav
sarle chusko ne peru : Aditya

# Pointers in Python (same same but different)

In [5]:
phd = "You dont have"
id(phd)

2068404831600

# Strings (Ah Shit! here we go again)

In [6]:
xim = "You know - this is - going to be complicated"
lalalist = xim.split(sep = "-",maxsplit = 1) # maxsplit, splits on no.of occurences 
print(lalalist)
lalalist2 = xim.split(sep = "-",maxsplit = 2)
print(lalalist2)

['You know ', ' this is - going to be complicated']
['You know ', ' this is ', ' going to be complicated']

In [7]:
# You can also replace only at some place in string or replace all

likethis = "Make a wisha"
print(likethis.replace('a','i',2)) # number specifies how many  A's need to be replaced

# but u need to assign to something to use the replaced string
print("Normal aint : ",likethis)

Mike i wisha
Normal aint :  Make a wisha

In [8]:
naem = "Malik"
print("Ninja {}".format(naem))

# Or Use this

print(f"My name is {naem} and i am Ninja")

# Or this

print("Hello %s this is ninja way"%(naem))

Ninja Malik
My name is Malik and i am Ninja
Hello Malik this is ninja way

In [9]:
sen = "-"
hei = "Today has been a good day"

print(sen.join(hei))

T-o-d-a-y- -h-a-s- -b-e-e-n- -a- -g-o-o-d- -d-a-y

# Lists (Long AF)

In [10]:
listings_menu = [1,4,3,2,"pillodiva numbers rasthunnav","OK",0]

In [11]:
listings_menu.append("why me")
listings_menu

[1, 4, 3, 2, 'pillodiva numbers rasthunnav', 'OK', 0, 'why me']

In [12]:
listings_menu.remove(0)
listings_menu

[1, 4, 3, 2, 'pillodiva numbers rasthunnav', 'OK', 'why me']

In [13]:
listings_menu_2 = listings_menu.copy()
print(listings_menu_2)

print(listings_menu_2.clear())
print("Kaali dolla em ledhu")

[1, 4, 3, 2, 'pillodiva numbers rasthunnav', 'OK', 'why me']
None
Kaali dolla em ledhu

In [14]:
listings_menu_2 = ["billa late ga vasthadu",117]
listings_menu_3 = [1111110000,80]
listings_menu.extend(listings_menu_2) # only one list can be extended 
print(listings_menu)

# or use + (but make sure all the elements are of same type in both or same length maybe)

menu = listings_menu_3 + [1,2,3,4,5,6] + [1,1020,31023,301]
print(menu)

[1, 4, 3, 2, 'pillodiva numbers rasthunnav', 'OK', 'why me', 'billa late ga vasthadu', 117]
[1111110000, 80, 1, 2, 3, 4, 5, 6, 1, 1020, 31023, 301]

In [15]:
listings_menu_3 = [1,234,234,23,4,2,5,66,23,0]
listings_menu.insert(5,'k') # appends but at specified position
print(listings_menu.pop(4)) # remove at specified position
print(listings_menu.remove(2)) # removes only first occurence of value
print(listings_menu.reverse()) # zindagi reverse 
print(listings_menu_3.sort()) # varasaga

pillodiva numbers rasthunnav
None
None
None

# Dictionaries (Keys Lost, Treasure Lost!)

In [16]:
insta = {1:["Likes"],2:"Share",3:"comment",4:"Follow","Extra":2}

In [17]:
print(insta.keys())
print(insta.values())

dict_keys([1, 2, 3, 4, 'Extra'])
dict_values([['Likes'], 'Share', 'comment', 'Follow', 2])

In [18]:
insta.pop("Extra")
print(insta)

{1: ['Likes'], 2: 'Share', 3: 'comment', 4: 'Follow'}

In [19]:
insta[1].append("aaf")
insta

{1: ['Likes', 'aaf'], 2: 'Share', 3: 'comment', 4: 'Follow'}

# Sets (Z+ Security or Elemental Suicide)

In [20]:
zs = {2,5,7,1,0,"HEhe","A"}
zs

{0, 1, 2, 5, 7, 'A', 'HEhe'}

In [21]:
zs.add(10)
zs2 = zs.copy()
zs2.add(100)
zs2.add(200)
zs2.add(5600)
zs2.discard(0)
print("zs2 : " , zs2)
zs.difference(zs2) # shows unique items
zs.difference_update(zs2) # removes elements that are are common
print(zs)
zs3 = {1234,4567}
print(zs.intersection(zs3))

zs2 :  {1, 2, 'A', 100, 5, 5600, 7, 200, 10, 'HEhe'}
{0}
set()

In [22]:
# Theres more to sets , like from normal mathematics

# Tuple (bruh! Stubborn mustard)

In [23]:
fixer = ("buy guns","sell grills","Stuff coke","Fixing ofc")
fixer

('buy guns', 'sell grills', 'Stuff coke', 'Fixing ofc')

In [24]:
# Theres nothing much interesting

# List Comprehension (oh! compressed lists ?)

In [25]:
sar = [x for x in range(5)]
sar

[0, 1, 2, 3, 4]

In [26]:
sr = [i for i in range(50) if i%5 == 0]
sr

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

# Excercise

In [27]:
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']

In [28]:
for i in job_roles:
    yes = True
    for j in my_skills:
        if j not in i["skills"]:
           yes = False 
    if yes:
        print(i["role"])

Data Analyst
Business Intelligence Analyst

# Lambda Functions

In [29]:
small = lambda r : r*3.14+96
small(2)

102.28

In [30]:
profits = [10,20,30,40,50,60,70,80]
revenue = [ (lambda x : x-5)(i) for i in profits]
revenue

[5, 15, 25, 35, 45, 55, 65, 75]

In [31]:
def dase(h):
    if h<3:
        return False
    else:
        return True

maina = filter(dase,[1,2,3,4])

print(list(maina))

[3, 4]

In [32]:
jobs_data = [
    {'job_title': 'Data Scientist',  'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst',  'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]

In [33]:
apply = list(filter(lambda x: x['remote'],jobs_data))
print(apply)

[{'job_title': 'Data Scientist', 'job_skills': ['Python', 'Machine Learning'], 'remote': True}, {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True}, {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True}]

# Modules

In [40]:
import spellout as s
# actually spellout is a python file which contains some code and i am accessing it 
print(spellout.skill_list)

['Python', 'SQL', 'PowerBI']

In [39]:
s.callout("Life")

Why only Life